/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#Home {
    display: block;
}

#MySQL_Database {
    display: block;
}

#DMS_Geo_Calculation {
    display: block;
    margin-top: 15px;
}
#map {
    display: block;
    /* height: 70%;
    width: 80%; */
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 5%;
}
#mapEmbedded {
    width: 100%;
    height: 100%;
}
#floating-panel {
    /* position: absolute; */
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel {
    /* position: absolute; */
    top: 5px;
    left: 50%;
    /* margin-left: -180px; */
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#latlng {
    width: 225px;
}

.map #map{
    clear: both;
}

img {
    height: auto;
    width: 65%;
}

/* MySQL Table */
.mysql {
    margin: 0 auto;
}

table {
    border-spacing: 2px;
    margin: 0 auto;
}
th, td {
    text-align: center;
    padding: 3px;
}
.grayout {
    background-color: #999;
}

/* Hidden Field */
.hidden {
    display: none;
}

/* Form */
form {
    width: 80%;
}
.col-form-label {
    font-size: 1rem;
    font-weight: 600;
}

/* Buttons */
.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* File Input Text Box */
input[type=submit] {
    font-size: 1rem;
}
/* #upload_file {
    border: 1px solid #808080;
} */

/* Pagination */
.pagination {
    margin: 1em 0;
    text-align: center;
}
  
.pagination a, .pagination span {
    display: inline-block;
    margin: 0 5px;
}
  
.pagination span.selected {
    font-weight: bold;
    color: #000;
}

.sexagesimal {
    width: 36px;
}

.sexagesimalsec {
    width: 64px;
}

.sexagesimal, .sexagesimalsec {
    display: inline-block;
    padding: 6px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.left {
    float: left;
    /* width: 45%; */
}

/* ----- GRID LAYOUT FOR INTERIOR, PHOTOGRAPHY, and ABOUT ----- */
.grid-container {
    display: grid;
    grid-gap: 10px; /*for row and column*/
}


.grid-item {
    border: 0px solid #222;
    /* text-align: center; */
}
/* ----- END OF GRID LAYOUT ----- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 100%; 
    }

    #mapEmbedded {
        width: 100%;
        height: 400px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 45% 50%; 
    }

    #mapEmbedded {
        width: 100%;
        height: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 45% 50%; 
    }

    #mapEmbedded {
        width: 100%;
        height: 100%;
    }
}