/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    display: block;
    /* height: 70%;
    width: 80%; */
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 5%;
}

/* Optional: Makes the sample page fill the window. */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
} */

#floating-panel {
    /* position: absolute; */
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel {
    /* position: absolute; */
    top: 5px;
    left: 50%;
    /* margin-left: -180px; */
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#latlng {
    width: 225px;
}

.map #map{
    clear: both;
}

/* MySQL Table */
.mysql {
    margin: 0 auto;
}

table {
    border-spacing: 2px;
    margin: 0 auto;
}
th, td {
    text-align: center;
    padding: 3px;
}
.grayout {
    background-color: #999;
}

/* Hidden Field */
.hidden {
    display: none;
}

/* Form */
form {
    width: 80%;
}

.col-form-label {
    font-size: 1rem;
    font-weight: 600;
}

/* Buttons */
.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* File Input Text Box */
input[type=submit] {
    font-size: 1rem;
}
/* #upload_file {
    border: 1px solid #808080;
} */

/* Pagination */
.pagination {
    margin: 1em 0;
    text-align: center;
}
  
.pagination a, .pagination span {
    display: inline-block;
    margin: 0 5px;
}
  
.pagination span.selected {
    font-weight: bold;
    color: #000;
}